In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

#RUL concating

In [3]:
fd_003_train = pd.read_csv('clean_data.csv')

In [4]:
fd_003_train

,unit_number,time_cycles,setting_1,setting_2,s_2,s_3,s_4,s_6,s_7,s_8,s_9,s_10,s_11,s_12,s_13,s_14,s_15,s_17,s_20,s_21
0,1,1,-0.0005,0.0004,642.36,1583.23,1396.84,21.61,553.97,2387.96,9062.17,1.3,47.30,522.31,2388.01,8145.32,8.4246,391,39.11,23.3537
1,1,2,0.0008,-0.0003,642.50,1584.69,1396.89,21.61,554.55,2388.00,9061.78,1.3,47.23,522.42,2388.03,8152.85,8.4403,392,38.99,23.4491
2,1,3,-0.0014,-0.0002,642.18,1582.35,1405.61,21.61,554.43,2388.03,9070.23,1.3,47.22,522.03,2388.00,8150.17,8.3901,391,38.85,23.3669
3,1,4,-0.0020,0.0001,642.92,1585.61,1392.27,21.61,555.21,2388.00,9064.57,1.3,47.24,522.49,2388.08,8146.56,8.3878,392,38.96,23.2951
4,1,5,0.0016,0.0000,641.68,1588.63,1397.65,21.61,554.74,2388.04,9076.14,1.3,47.15,522.58,2388.03,8147.80,8.3869,392,39.14,23.4583
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24715,100,148,-0.0016,-0.0003,643.78,1596.01,1424.11,21.61,551.86,2388.25,9070.82,1.3,48.27,519.66,2388.30,8138.08,8.5036,394,38.44,22.9631
24716,100,149,0.0034,-0.0003,643.29,1596.38,1429.14,21.61,551.86,2388.23,9064.60,1.3,48.13,519.91,2388.28,8144.36,8.5174,395,38.50,22.9746
24717,100,150,-0.0016,0.0004,643.84,1604.53,1431.41,21.61,551.30,2388.25,9063.45,1.3,48.18,519.44,2388.24,8135.95,8.5223,396,38.39,23.0682
24718,100,151,-0.0023,0.0004,643.94,1597.56,1426.57,21.61,550.69,2388.26,9062.22,1.3,48.05,520.01,2388.26,8141.24,8.5148,395,38.31,23.0753
24719,100,152,0.0000,0.0003,643.64,1599.04,1436.06,21.61,550.96,2388.26,9066.52,1.3,48.12,519.48,2388.24,8136.98,8.5150,396,38.56,23.0847

In [7]:
fd_003_cycles = fd_003_train[["unit_number","time_cycles"]]
max_cycles = fd_003_cycles.groupby('unit_number').max()
max_cycles['unit_number'] = max_cycles.index

In [30]:
fd_003_train['RUL'] = fd_003_train.groupby('unit_number')['time_cycles'].transform(max)

In [31]:
for i in range(0,len(fd_003_train)):
  if fd_003_train['RUL'].loc[i] - fd_003_train['time_cycles'].loc[i] > 124:
    fd_003_train['RUL'].loc[i] = 125
  else:
    fd_003_train['RUL'].loc[i] = fd_003_train['RUL'].loc[i] - fd_003_train['time_cycles'].loc[i]

<ipython-input-31-a00237a8e341>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fd_003_train['RUL'].loc[i] = 125
<ipython-input-31-a00237a8e341>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fd_003_train['RUL'].loc[i] = fd_003_train['RUL'].loc[i] - fd_003_train['time_cycles'].loc[i]

In [32]:
fd_003_train

,unit_number,time_cycles,setting_1,setting_2,s_2,s_3,s_4,s_6,s_7,s_8,...,s_10,s_11,s_12,s_13,s_14,s_15,s_17,s_20,s_21,RUL
0,1,1,-0.0005,0.0004,642.36,1583.23,1396.84,21.61,553.97,2387.96,...,1.3,47.30,522.31,2388.01,8145.32,8.4246,391,39.11,23.3537,125
1,1,2,0.0008,-0.0003,642.50,1584.69,1396.89,21.61,554.55,2388.00,...,1.3,47.23,522.42,2388.03,8152.85,8.4403,392,38.99,23.4491,125
2,1,3,-0.0014,-0.0002,642.18,1582.35,1405.61,21.61,554.43,2388.03,...,1.3,47.22,522.03,2388.00,8150.17,8.3901,391,38.85,23.3669,125
3,1,4,-0.0020,0.0001,642.92,1585.61,1392.27,21.61,555.21,2388.00,...,1.3,47.24,522.49,2388.08,8146.56,8.3878,392,38.96,23.2951,125
4,1,5,0.0016,0.0000,641.68,1588.63,1397.65,21.61,554.74,2388.04,...,1.3,47.15,522.58,2388.03,8147.80,8.3869,392,39.14,23.4583,125
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24715,100,148,-0.0016,-0.0003,643.78,1596.01,1424.11,21.61,551.86,2388.25,...,1.3,48.27,519.66,2388.30,8138.08,8.5036,394,38.44,22.9631,4
24716,100,149,0.0034,-0.0003,643.29,1596.38,1429.14,21.61,551.86,2388.23,...,1.3,48.13,519.91,2388.28,8144.36,8.5174,395,38.50,22.9746,3
24717,100,150,-0.0016,0.0004,643.84,1604.53,1431.41,21.61,551.30,2388.25,...,1.3,48.18,519.44,2388.24,8135.95,8.5223,396,38.39,23.0682,2
24718,100,151,-0.0023,0.0004,643.94,1597.56,1426.57,21.61,550.69,2388.26,...,1.3,48.05,520.01,2388.26,8141.24,8.5148,395,38.31,23.0753,1
24719,100,152,0.0000,0.0003,643.64,1599.04,1436.06,21.61,550.96,2388.26,...,1.3,48.12,519.48,2388.24,8136.98,8.5150,396,38.56,23.0847,0

In [33]:
fd_003_train.to_csv(r'with_RUL.csv', index = False, header = True)